.fon {
  overflow-x: auto;
  display: block;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url("./img/fon.jpg") no-repeat;
  background-size: cover;
}
.box {
  margin: 50px auto auto;

  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 8px 5px rgba(255, 255, 255, 0.1),
    0 10px 10px rgba(255, 255, 255, 0.1);
}
.box {
  padding: 50px 100px;
}
.header {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 35px;
  color: #fff;
}
.input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
  padding: 10px;
  outline: none;
}
.input::placeholder {
  color: white;
}
.button {
  font-size: 20px;
  font-weight: 600;
  width: 50%;
  margin-top: 30px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2b4f8e;
  color: aliceblue;
}
.button:hover {
  cursor: pointer;
  background-color: #2d3398;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.city {
  font-size: 30px;
  color: #fff;
}
.name-descr {
  color: #fff;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
.descr {
  font-weight: 700;
}
.error {
  color: red;
}
.next-box {
  display: flex;
  justify-content: space-between;

  padding: 10px;
}
.next-day {
  width: 60px;
  background-color: #2b4f8e;
  color: #fff;
  border-radius: 15px;
  padding: 10px;
  text-align: center;
}
.next-day-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  padding: 10px 20px;
}

@media screen and (max-width: 768px) {
  .header {
    font-size: 30px;
  }
  .city {
    font-size: 25px;
  }
  .button {
    font-size: 15px;
  }
  .input {
    width: 80%;
    font-size: 15px;
  }

  .box {
    margin: 0 auto;
    min-height: 100vh;
    padding: 10px 30px;
    border-radius: 0;
  }
  .next-box {
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
  .next-day-box {
    padding: 0;
    border: none;
    flex-direction: row;
    justify-content: space-around;
  }
  .next-day {
    padding: 5px;
  }
  .name-descr {
    font-size: 15px;
  }
}
